<h1>Your Posts</h1>

<%= link_to "New Post", new_post_path %>
<br><br>

<!-- CSV upload -->
<h3>Import CSV</h3>
<%= form_with url: import_csv_posts_path, multipart: true do |f| %>
  <%= f.file_field :file %>
  <%= f.submit "Upload CSV" %>
<% end %>

<hr>

<table border="1" cellpadding="8">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td>
        <%= link_to "View", post_path(post) %> |
        <%= link_to "Edit", edit_post_path(post) %> |
        <%= link_to "Download PDF", download_pdf_post_path(post), class: "btn btn-primary" %> |
        <%= button_to "Delete", post_path(post), method: :delete,form: { data: { turbo_confirm: "Are you sure?" } }, style: "display:inline" %> 
        

      </td>
    </tr>
  <% end %>
</table>
